.editorconfig
.github
.htaccess
.htaccess.sample
.php_cs.dist
.travis.yml.sample
.user.ini
CHANGELOG.md
COPYING.txt
Gruntfile.js.sample
LICENSE.txt
LICENSE_AFL.txt
SECURITY.md
auth.json.sample
bin
composer.json
composer.lock
dev
error.log
generated
grunt-config.json.sample
index.php
lib
nbproject
nginx.conf.sample
package.json.sample
phpserver
pub
setup
update
var
vendor
/app/*
!/app/.htaccess
!/app/code/*
