<?xml version="1.0" ?>
<!--
 * Ajindra : Create a simple HelloWorld frontend page, involving layout, block 
 * and template file as well
 *
 * @category   Ajindra_FrontendHelloWorldPage
 * @package    Ajindra_FrontendHelloWorldPage
 * @copyright  2020 All rights reserved.
 * @license    Proprietary
 * @author     Ajindra
 * 
 * Note: 
 * 1. Here we tell to Magento2, what route-name we want (i.e. which will be used 
 * in URL just after domain-name like http://mg234.local.com/helloworld as here 
 * to display all pages developed under this module)
 *
 * 2. If we create page for frontend then this page is created under "frontend" directory as here
 * and if for admin then created under "adminhtml" directory
 *
 * 3. A particular frontend page url, related with a module, builds as following:
 * <protocol>://<domain-name>/<module-front-name-as-mentioned-in-routes.xml>/<controller-name>/<action-name>
 * http://mg234.local.com/helloworld/index/samplefrontendpage
 * 
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <!-- 
        Here, take value of frontName & id attribute same as taken below i.e. 
        helloworld; otherwise, sometimes it creates issue while creating menu-link 
        -->
        <route frontName="helloworld" id="helloworld">
            <module name="Ajindra_FrontendHelloWorldPage"/>
        </route>
    </router>
</config>
